<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="parentTriangle" class="com.springdemo.javabrains.Triangle" abstract="true">
		<property name="points">
			<list>
				<ref bean="pointA" />
			</list>
		</property>
	</bean>

	<bean id="triangle1" class="com.springdemo.javabrains.Triangle" parent="parentTriangle">
		<property name="points">
			<list merge="true">
				<ref bean="pointB" />
			</list>
		</property>
	</bean>
	
	<bean id="triangle2" class="com.springdemo.javabrains.Triangle" parent="parentTriangle">
		<property name="pointB" ref="pointB" />
	</bean>

	<bean id="pointA" class="com.springdemo.javabrains.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointB" class="com.springdemo.javabrains.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointC" class="com.springdemo.javabrains.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
</beans>